################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmdarisProject/.vs/AmdarisProject
/AmdarisProject/AmdarisProject/bin
/AmdarisProject/AmdarisProject/obj
*.bin
*.cache
AmdarisProject/AmdarisProject.Application/bin/Debug/net8.0/AmdarisProject.Application.dll
AmdarisProject/AmdarisProject.Application/bin/Debug/net8.0/AmdarisProject.Application.pdb
AmdarisProject/AmdarisProject.Application/bin/Debug/net8.0/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Application/bin/Debug/net8.0/AmdarisProject.Domain.pdb
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/AmdarisProject.Application.AssemblyInfo.cs
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/AmdarisProject.Application.dll
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/AmdarisProject.Application.pdb
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/AmdarisProject.Application.sourcelink.json
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/ref/AmdarisProject.Application.dll
AmdarisProject/AmdarisProject.Application/obj/Debug/net8.0/refint/AmdarisProject.Application.dll
AmdarisProject/AmdarisProject.Domain/bin/Debug/net8.0/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Domain/bin/Debug/net8.0/AmdarisProject.Domain.pdb
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/AmdarisProject.Domain.AssemblyInfo.cs
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/AmdarisProject.Domain.pdb
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/AmdarisProject.Domain.sourcelink.json
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/ref/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Domain/obj/Debug/net8.0/refint/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Application.dll
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Application.pdb
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Domain.dll
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Domain.pdb
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Infrastructure.dll
AmdarisProject/AmdarisProject.Infrastructure/bin/Debug/net8.0/AmdarisProject.Infrastructure.pdb
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/AmdarisProject.Infrastructure.AssemblyInfo.cs
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/AmdarisProject.Infrastructure.dll
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/AmdarisProject.Infrastructure.pdb
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/AmdarisProject.Infrastructure.sourcelink.json
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/ref/AmdarisProject.Infrastructure.dll
AmdarisProject/AmdarisProject.Infrastructure/obj/Debug/net8.0/refint/AmdarisProject.Infrastructure.dll
