################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmdarisProject/.vs/AmdarisProject
/AmdarisProject/AmdarisProject/bin
/AmdarisProject/AmdarisProject/obj
*.bin
